<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>BookList</title>
</head>
<body>

   <a class="btn btn-primary" href="/week10/class/bookList">Book List</a>

   <form action="/week10/class/oneBook">
      <label for="bookId">Choose a Book ID</label>
      <input name="id" class="form-control" id="bookId">
      <button type="submit">Go</button>
   </form>
   
</body>
</html>