<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Lab Queue</title>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
   <script src="https://kit.fontawesome.com/79ad9f74b9.js" crossorigin="anonymous"></script>
   <script src="node_modules/socket.io-client/dist/socket.io.js"></script>
   <script>
      var socket = io();
   </script>

   <!-- 
        TODO: One the first queue enterence the queue is completely erased and needs to be updates. 
        TODO: Make the website ready to listen for updates on the server. RealTime updates.
        TODO: Make this mobile friendly anything below 1000px needs to look different bc the table doesn't fit right
      -->

</head>

<body>

   <div class="container-fluid" style="background-color: white;">

      <!-- Title -->
      <div class='row p-1'>
         <div class="col">
            <h1 class="pt-2 text-center">Need Lab Help?</h1>
         </div>
      </div>

      <!-- Form to enter the queue -->
      <div class="row p-1 justify-content-center">
         <form action="/lab-queue/addPerson" id="add">
            <div class="form-row">

               <div class="col">
                  <input type="text" class="form-control" id="name" value="" placeholder="Your Name">
               </div>

               <div class="col">
                  <input type="text" class="form-control" id="class" value="" placeholder="Class">
               </div>

               <div class="col">
                  <input type="text" class="form-control" id="details" value="" placeholder="What assignment?">
               </div>

               <button class="btn btn-success" type="submit">Get in Line!</button>

               <div class="col">
                  <a href="#first" class="btn btn-warning">First-time user?</a>
               </div>

            </div>
         </form>

      </div>

      <!-- queue -->
      <div class="row p-1">
         <table class="table">
            <thead>
               <tr>
                  <th scope="col"></th>
                  <th scope="col">Name</th>
                  <th scope="col">Class</th>
                  <th scope="col">Need help with...</th>
                  <th scope="col">TA Zoom Link</th>
                  <th scope="col"></th>
               </tr>
            </thead>
            <tbody id="queue"></tbody>
         </table>
      </div>

      <hr>

      <!-- Instructions -->
      <div class='row p-1' id="first">
         <div class="col">
            <div class="row">
               <div class="col-2 align-self-center">
                  <h3>First-time?</h3>
               </div>
               <div class="col">
                  <p class="pt-2 text-justified">
                     Life just got a lot simpler. Enter your <i>name, course #, & the assignment</i> you need help with
                     in the form above ☝🏻.<br>
                     A TA will then submit a link to their prefered way of communicating with you. This could be
                     Zoom.us, Google Duo, Facebook, or some other method of communication. The Ta's Information will
                     show up in the TA column of your row once they are ready to help you.<br>
                     Click the link or follow their instructions given.<br>
                     No need to refresh the page we will make sure to notify you when you are next!
                  </p>
               </div>
            </div>

            <hr>
            <div class="row">
               <div class="col-2 align-self-center">
                  <h3>Solved your problem?</h3>
               </div>
               <div class="col">
                  <p class="pt-2 text-center">
                     Perfect! Go ahead and click the <button class="btn btn-danger"><i
                           class='btn-danger fas fa-trash'></i></button> in the last column. This will remove you from
                     the line and allow the next student to be helped.
                  </p>
               </div>
            </div>

            <hr>
            <div class="row">
               <div class="col-2 align-self-center">
                  <h3>Finished?</h3>
               </div>
               <div class="col">
                  <p class="pt-2 text-center">
                     Awesome! We hope that we were able to answer all your questions and you had a great experience.
                     Either you or the TA will now remove you from the line.<br>
                     If you need help again later just fill out the form above ☝🏻.
                  </p>
               </div>
            </div>
            <hr>
         </div>
      </div>

   </div>

   <!-- scripts -->
   <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"></script>
   <script id="replace" type="text/javascript" , src="./project2/page.js"></script>

</body>

</html>