<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Rock Paper Scissors Results</title>
</head>

<body>
   <h1>Results</h1>
   <p>Players Choice: <%= player %></p>
   <p>CPU's Choice: <%= cpu %></p>
   <h3>Winner: <%= winner %></h3>
</body>

</html>