<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Landing Page for <%= weeks[0].week %></title>
</head>

<body>

   <button type="button">
      <a href="<%= weeks[0].url %>">
         <%= weeks[0].week %>
      </a>
   </button>

</body>

</html>